# Sanity.io CMS
SANITY_PROJECT_ID=your-project-id
SANITY_DATASET=production
SANITY_TOKEN=your-token-if-needed

# Plausible Analytics
PLAUSIBLE_DOMAIN=example.com

# Google Play Store
GOOGLE_PLAY_URL=https://play.google.com/store/apps/details?id=com.anasidris.spent
